
.login-card {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-fld {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.form-fld .label {
  width: 68px;
}
.form-fld input {
  width: calc(100% - 68px);
}

input {
  border-radius: 8px;
  padding: 1px 8px;
}

.main-content {
  padding: 16px;
}

.blog-list {
  margin: 0 0 16px;
}

.blog-detail-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.nav-menu {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.success {
  color: green;
}

.notification.error {
  color: red;
}

.blog-item {
  padding: 10px 2px;
  border: 1px solid black;
  margin-bottom: 5px;
}

